:root{
    --bgColor2: white;
    --bgColor : rgb(33,37,41);
    --primario: rgb(79, 36, 164);
    --secundario: #bd9bff;
    --terciario: #9333ea;
}

main{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1000px 500px;
    justify-content: center;
    align-items: start;
}

#listadoCarrito{  
    width: 1000px;
    border-radius: 20px;
    border: 2px solid var(--secundario);
}

#carritoVacio{
    text-align: center;
    color: white;
    margin: 100px;
}

#carritoVacio img{
    width: 120px;
}

.botonesGrandesCarrito{
    display: inline-block;
    background-color: var(--primario);
    border-radius: 6px;
    width: 328px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    padding: 0 24px;
    text-decoration: none;
    
}

.botonesGrandesCarrito:hover{
    background-color: var(--secundario);
    transition: all 1s ;
}

#resumenCarrito{
    
    width: 500px;
    border-radius: 20px;
    border: 2px solid var(--secundario);
    color: white;
    display: flex;
    flex-direction: column;
    
}

#tituloResumen{
    padding: 20px 0px 0px 20px;
}

#textoResumenVacio{
    padding: 20px 0px 0px 20px;
}

.productoCarrito{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 96%;
    margin: 20px;
    border-radius: 20px;
    /* border: 2px solid var(--secundario); */
    background-color: white;
}

.imgProductoCarrito{
    width: 150px;
    border-radius: 20px;
}

.textoProductoCarrito{
    display: flex;
}

.textoProductoCarrito h4{
    padding-left: 20px;
    padding-top: 10px ;
    text-wrap: wrap;
}


.botonesCarrito{
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}

.restarProducto{
    background-color: var(--primario);
    color: white;
    width: 30px;
    height: 30px;
    border: 0px;
    border-radius: 50%;
}

.restarProducto:hover{
    background-color: var(--secundario);
    color: black;
    transition: all 1s ;
}

.sumarProducto{
    background-color: var(--primario);
    color: white;
    width: 30px;
    height: 30px;
    border: 0px;
    border-radius: 50%;
}

.sumarProducto:hover{
    background-color: var(--secundario);
    color: black;
    transition: all 1s ;
}


.cantidadProducto{
    
    background-color: var(--primario);
    color: white;
    width: 30px;
    height: 30px;
    margin: 0px 6px;
    border-radius: 50%;
    padding-top: 2px;
    text-align: center;
}

.precioProductoLista{
    padding-left: 50px ;
    padding-right: 20px;
    font-size: 20px;
    margin: 0px;
}

#listaResumenCarrito{
    display: flex;
    justify-content: space-between;
}

#tituloResumen img{
    width: 30px;
}

#titulosPrecios{
    list-style-type: none;
}

#sumaPrecios{
    margin-right: 35px;
    list-style-type: none;
}

#contenedorListaResumen{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#contenedorListaResumen a{
    align-self: center;
    margin: 10px;
}