:root{
    --bgColor2: white;
    --bgColor : rgb(33,37,41);
    --primario: rgb(79, 36, 164);
    --secundario: #bd9bff;
    --terciario: #9333ea;
}

main{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1000px 500px;
    justify-content: center;
    align-items: start;
}

#listadoCarrito{
    
    /* padding: 200px; */
    width: 1000px;
    /* background-color: var(--secundario); */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    border-radius: 20px;
    border: 2px solid var(--secundario);
}

#carritoVacio{
    text-align: center;
    color: white;
    margin: 100px;
}

#carritoVacio img{
    width: 120px;
}

#carritoVacio a{
    display: inline-block;
    background-color: var(--primario);
    border-radius: 6px;
    width: 328px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    padding: 0 24px;
    text-decoration: none;
    
}

#carritoVacio a:hover{
    background-color: var(--secundario);
    transition: all 1s ;
}

#resumenCarrito{
    
    width: 500px;
    /* background-color: var(--secundario); */
    border-radius: 20px;
    border: 2px solid var(--secundario);
    color: white;
}

#tituloResumen{
    padding: 20px 0px 0px 20px;
}

#textoResumenVacio{
    padding: 20px 0px 0px 20px;
}

.productoCarrito{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 96%;
    margin: 20px;
    border-radius: 20px;
    /* border: 2px solid var(--secundario); */
    background-color: white;
}

.imgProductoCarrito{
    width: 150px;
    border-radius: 20px;
}

.textoProductoCarrito{
    display: flex;
}

.textoProductoCarrito h4{
    padding-left: 20px;
    padding-top: 10px ;
    text-wrap: wrap;
}


.botonesCarrito{
    display: flex;
    height: 30px;
}

.restarProducto{
    background-color: var(--primario);
    color: white;
    width: 30px;
    border-left: 2px solid var(--secundario);
    border-top: 2px solid var(--secundario);
    border-bottom: 2px solid var(--secundario);
    border-right: 0px;
    border-radius: 3px 0px 0px 3px;
}

.sumarProducto{
    background-color: var(--primario);
    color: white;
    width: 30px;
    border-left: 0px;
    border-top: 2px solid var(--secundario);
    border-bottom: 2px solid var(--secundario);
    border-right: 2px solid var(--secundario);
    border-radius: 0px 3px 3px 0px;
}

.cantidadProducto{
    background-color: var(--primario);
    color: white;
    width: 30px;
    height: 30px;
    border-top: 2px solid var(--secundario);
    border-bottom: 2px solid var(--secundario);
    text-align: center;
}

.precioProductoLista{
    padding-left: 100px ;
    padding-right: 20px;
    font-size: 20px;
}