:root {
    --bgColor2: white;
    --bgColor: rgb(33, 37, 41);
    --primario: rgb(79, 36, 164);
    --secundario: #bd9bff;
    --terciario: #9333ea;
}

* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--bgColor);
}


/* NAVBAR */

nav {
    display: grid;
    grid-template-columns: 150px 75vw 310px;
    grid-template-rows: 100px;
    position: sticky;
    align-items: center;
    background-color: var(--primario);
    width: 100%;
    height: 100px;
}

#navParteIzquierda {
    display: flex;
    align-items: center;
    width: 260px;
}


#navParteIzquierda a {
    text-decoration: none;
    color: white;
    padding: 10px;
    grid-column-start: 2;
    grid-column-end: 3;
}


.logoDragonNav {
    width: 150px;
}

#navParteDerecha {
    display: flex;
    align-items: center;

}

.favCart {
    width: 25px;
    margin-right: 25px;
}

.contenedorFavCart {
    position: relative;
}

.contadorFavCart {
    background-color: var(--secundario);
    width: 15px;
    height: 16px;
    font-size: 12px;
    color: white;
    position: absolute;
    right: 20px;
    top: -8px;
    border-radius: 50%;
    text-align: center;
}


#botonLogIn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    height: 50px;
    font-size: 13px;
    background-color: var(--primario);
    border-radius: 50px;
    border: 2px solid var(--secundario);
}

#botonLogIn img {
    width: 30px;
}

#logoDragonHeader {
    width: 400px;
    filter: drop-shadow(10px 10px 2px var(--secundario));
}


#contenedorLogo {
    display: grid;
    grid-template-rows: 400px;
    grid-template-columns: 400px 700px;
    column-gap: 5px;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    position: relative;
}

#redesSociales {

    text-align: center;
}

#redesSociales i {
    color: var(--primario);
}

/* BUSCADOR */

#headerColumn2 h1 {
    color: white;
    margin-bottom: 10px;
}

#headerColumn2 {
    margin-top: 50px;
}

.contenedorBusqueda {
    width: 470px;
    background-color: var(--primario);
    position: relative;
    border-radius: 20px;
    border: 2px solid var(--secundario);
}

.contenedorBusqueda input {
    width: 400px;
    padding: 12px;
    border-radius: 18px 0px 0px 18px;
    border: 0px;
    outline: none;
}

.icon {
    width: 30px;
    margin-left: 14px;
    margin-bottom: 3px;
}


.sugerencias {
    margin: 0px;
    padding: 0px;
    background-color: white;
    color: black;
    max-height: 238px;
    border-radius: 0px 0px 20px 20px;
    pointer-events: none;
    overflow-y: auto;
}

.sugerencias li {
    list-style: none;
    display: none;
}

.active {
    border-radius: 20px;
}

.contenedorBusqueda.active .sugerencias {

    pointer-events: auto;
    border-radius: 0px 0px 18px 18px;
}

.contenedorBusqueda.active .sugerencias::-webkit-scrollbar {
    width: 5px;
}

.contenedorBusqueda.active .sugerencias::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 18px;
    margin: 10px;
}

.contenedorBusqueda.active .sugerencias::-webkit-scrollbar-track {

    margin-bottom: 10px;
    margin-right: 5px;
    border-radius: 20px;
}

.contenedorBusqueda.active .sugerencias li {
    display: block;
    padding: 10px 8px;

}

.contenedorBusqueda.active input {
    border-radius: 18px 0px 0px 0px;
}

/* *************************** */

.botones {
    color: white;
    font-size: 1.2em;
    padding: 8px;
    width: 150px;
    background-color: var(--primario);
    border-radius: 50px;
    border: 2px solid var(--secundario);
}

#logoDragonModal {
    width: 100px;
}

#formLogin {
    display: grid;
    justify-content: center;
    grid-template-rows: 20px 35px 20px 35px;
    grid-row-gap: 15px;
}

#formLogin label {
    display: flex;
    align-items: center;
}

#formLogin input {
    width: 250px;
}

#linksModal {
    margin-top: 15px;
    text-align: center;

}

#linksModal a {
    color: var(--secundario);
    padding: 20px;
}


#linksModal a:hover {
    color: var(--terciario);
}


#formRegister {

    display: flex;
    flex-wrap: wrap;
    gap: 15px 80px;
    margin-bottom: 20px;
}

.campoFormRegister {
    display: flex;
    flex-direction: column;

}


#collapseIcon {

    width: 30px;

}

#collapseButton {

    background-color: var(--primario);
    border: 0px;
    display: none;
}

/* *******************************  */

/* MAIN */

main {
    width: 100%;
    margin-bottom: 150px;
    display: flex;
    margin-top: 150px;
    gap: 0px 30px;
}


.publicidad {
    width: 300px;
    margin-left: 10px;
}

#contenedorPublicidadHome {
    width: 450px;
}

#seccionAcordeonPublicidad {
    margin-left: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
}


#accordionCategorias {
    width: 400px;
    height: 600px;
}


.accordion-item button {
    background-color: var(--primario);
    color: white;
}

.accordion-item {
    background-color: var(--primario);

}


.listasCategorias {
    list-style-type: none;
}

.listasCategorias a {
    color: white;
    text-decoration: none;
}



/* SLIDER PRODUCTOS DESTACADOS */

.contenedorSliders {
    width: 920px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px 0px;
}



#seccionProductos {
    scroll-behavior: smooth;
    max-width: 920px;
    overflow-x: auto;
    display: flex;

}

#seccionProductos::-webkit-scrollbar {
    display: none;
}


#seccionNuevos {
    scroll-behavior: smooth;
    max-width: 920px;
    overflow-x: auto;
    display: flex;

}

#seccionNuevos::-webkit-scrollbar {
    display: none;
}


.headerSlider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botonSlider {
    font-size: 40px;
    margin: 0 5px;
    cursor: pointer;
    color: white;
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 19px;
    text-align: center;
    border-radius: 3px;
}

.tarjeta {
    min-width: 300px;
    height: 300px;
    position: relative;
    margin-right: 10px;
    left: 0;
    transition: 0.5s;
    background-color: white;
    border-radius: 20px;
}

.tarjeta-img-top img {
    width: 200px;
}

.tarjeta-img-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta-text {
    font-size: 1.3em;
    text-align: end;

}


.botonFavoritos,
.botonCarritoAñadir {
    border: 0px;
    padding: 0px;
    background-color: white;
    width: 24px;
    height: 24px;
    overflow: hidden;
}

.logoCartCardActive {
    display: none;
}

.logoFavCardActive {
    display: none;
}

.contenedorBotonesCards {
    display: flex;
    gap: 0px 25px;
}

.cardPrice {
    max-width: 300px;
    display: flex;
    gap: 100px;
    align-items: center;
}

.cardPrice p {
    padding-top: 15px;
}

.card-body {
    padding: 5px;
}

.card-body a {
    color: black;
    text-decoration: none;
}

.card-body a:hover {
    text-decoration: underline;
    color: var(--terciario);
}

/* *******************************  */

/* FOOTER */

footer {
    background-color: var(--primario);
    display: flex;
    align-items: center;
    align-content: flex-start;
    gap: 0px 500px;
    height: 350px;
}

#logoDragonFooter {
    width: 300px;

}

#contenedorLinksFooter {

    display: grid;
    grid-template-columns: 150px 150px 300px;
    grid-template-rows: 300px 50px;
    align-items: center;
    justify-content: center;
    color: white;

}


.c3 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid var(--secundario);
    border-radius: 20px;
    width: 150px;
}

.c4 {
    text-align: center;
    grid-column: 1/4;
}




#contenedorLinksFooter p {
    font-size: 15px;
    color: white;
    text-align: center;
    grid-column: 1/3;
}

#linksFooter {
    list-style-type: none;

}

#linksFooter a {
    text-decoration: none;
    color: white;
}

#linksFooter a:hover {
    color: var(--secundario);
}

#redesFooter {
    width: 350px;
    display: grid;
    list-style-type: none;
    grid-template-rows: auto auto auto auto;
    gap: 5px 0px;
}


#redesFooter li,
a {
    color: white;
}


#redesFooter a:hover {
    color: var(--secundario);
}

#dataFiscalQR {
    width: 150px;
}


.abrir-menu {
    display: none;
    border: 0px;
    background-color: var(--primario);

}




/* ************* */

@media (max-width:1441px) and (min-width:1025px){

/* NAV */

nav {
    width: 100vw;
    grid-template-columns: 150px 68vw 310px;
}

/* ************************* */

/* MAIN */


main {
    width: 100%;
    margin-bottom: 150px;
    display: flex;
    margin-top: 150px;
    gap: 0px 30px;
    flex-wrap: wrap;
}


#contenedorPublicidadHome {
    width: 400px;
    margin-left: 10px;
}

#seccionAcordeonPublicidad {
    margin-left: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

#accordionCategorias {
    width: 400px;
    height: 600px;
}

/* ************************* */

/* FOOTER */


footer {
    gap: 0px 200px;
}

#logoDragonFooter {
    width: 300px;
}

#contenedorLinksFooter {
    grid-template-columns: 150px 150px 150px;
}

/* ************************* */
}


@media (max-width:1025px) and (min-width:769px) {
    
/* NAV */

nav {
    width: 100vw;
    grid-template-columns: 150px 55% 310px;
}

/* ************************* */

/* HEADER */

#contenedorLogo {

    grid-template-columns: 400px 480px;

}

/* ************************* */

/* MAIN */


main {
    width: 100%;
    margin-bottom: 150px;
    display: flex;
    margin-top: 150px;
    gap: 0px 30px;
    flex-wrap: wrap;
}

.contenedorSliders{
    width: 610px;
    margin-left: 130px;
}

#seccionNuevos,#seccionProductos{
    max-width: 610px;
}

#sliderDestacados,#sliderNuevos{
    width: 610px;
}

#contenedorPublicidadHome {
    width: 335px;
    margin-left: 10px;
}

#seccionAcordeonPublicidad {
    margin-left: 10px;
    width: 20vw;
    display: flex;
    flex-direction: column;
}

#contenedorAcordeon{
    width: 330px;
}


#accordionCategorias {
    width: 330px;
    height: 600px;
}

/* ************************* */

/* FOOTER */


footer {
    gap: 0px 200px;
}

#logoDragonFooter {
    width: 300px;
}

#contenedorLinksFooter {
    grid-template-columns: 150px 150px 150px;
}

/* ************************* */
}


@media (max-width:769px) {

    /* NAVBAR */
    .abrir-menu {
        display: block;
        position: absolute;
        left: 20px;
        top: 60px;
        color: white;
    }


    nav.inActive {
        height: 130px;
        display: flex;
        transition: all 1s;
    }

    nav.inActive #logoDragonNavLink {
        margin-left: 300px;
    }

    nav.inActive #navParteIzquierda {
        display: none;
    }

    nav.inActive #navParteDerecha {
        display: none;
    }

    nav.visible {
        display: flex;
        flex-direction: column;
        height: 400px;
        width: 100vw;
        transition: all 1s;
    }

    nav.visible #navParteIzquierda {
        display: flex;
        flex-direction: column;

    }

    nav.visible #navParteDerecha {
        display: flex;
        margin-top: 20px;

    }

    /* ****************** */

    /* HEADER-BUSCADOR */

    #contenedorLogo {
        display: grid;
        grid-template-rows: 300px;
        grid-template-columns: 300px 200px;
        column-gap: 5px;
        flex-direction: row;
        align-items: start;
        justify-content: center;
        position: relative;
    }


    #logoDragonHeader {
        width: 300px;
        filter: drop-shadow(10px 10px 2px var(--secundario));
    }


    #contenedorLogo {
        display: grid;
        grid-template-rows: 260px;
        grid-template-columns: 300px 400px;
        column-gap: 5px;
        flex-direction: row;
        align-items: start;
        justify-content: center;
        position: relative;
    }

    #redesSociales {

        text-align: center;
    }

    #redesSociales i {
        color: var(--primario);
    }

    /* BUSCADOR */

    #headerColumn2 h1 {
        display: block;
        width: 400px;
    }

    #headerColumn2 {
        margin-top: 50px;
    }

    .contenedorBusqueda {
        width: 400px;
    }

    .contenedorBusqueda input {
        width: 340px;
    }

    .icon {
        width: 30px;
        margin-left: 5px;
        margin-bottom: 3px;
    }

    /* ****************** */


    /* MAIN */

    main {
        width: 100%;
        margin-bottom: 100px;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        gap: 0px 30px;
    }

    #contenedorPublicidadHome {
        display: none;
    }

    #seccionAcordeonPublicidad {
        align-items: center;
    }


    #accordionCategorias {
        width: 600px;
        height: 600px;
    }

    /* SLIDER PRODUCTOS DESTACADOS */

    .contenedorSliders {
        margin-top: 30px;
        width: 700px;
        align-items: center;
    }

    #seccionProductos {
        max-width: 630px;
    }

    #seccionNuevos {
        max-width: 630px;
    }


    .tarjeta {
        min-width: 200px;
        height: 290px;
    }

    .tarjeta-img-top img {
        width: 130px;
    }


    .tarjeta-text {
        font-size: 1em;
        text-align: end;

    }


    .contenedorBotonesCards {
        display: flex;
        gap: 0px 20px;
    }

    .cardPrice {
        gap: 30px;
    }

    .cardPrice p {
        padding-top: 15px;
        font-size: 20px;
    }


    /* *******************************  */

    /* FOOTER */


    footer {
        gap: 0px 0px;
    }

    #logoDragonFooter {
        width: 200px;
    }

    #contenedorLinksFooter {
        grid-template-columns: 150px 150px 150px;
    }

    .c3 {
        width: 100px;
    }


    #redesFooter {
        display: flex;
        flex-direction: column;
        gap: 5px 0px;
        align-items: center;
        position: relative;
        left: -125px;
    }

    #dataFiscalQR {
        width: 100px;
    }

    /* *******************************  */
}


@media (max-width:426px) {

    /* NAVBAR */
   
    nav.inActive #logoDragonNavLink {
        margin-left: 145px;
    }

    /* ****************** */

    /* HEADER-BUSCADOR */

    #contenedorLogo {
        grid-template-rows: 180px 100px;
        grid-template-columns: 400px;   
    }

    #logoDragonHeader {
        display: none;
    }

    /* ****************** */

    /* MAIN */

    main {
        width: 100%;
        margin-bottom: 100px;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        gap: 0px 30px;
    }

    #seccionAcordeonPublicidad {
        align-items: center;
    }

    #accordionCategorias {
        width: 400px;
        height: 600px;
    }

    /* SLIDER PRODUCTOS DESTACADOS */

    .contenedorSliders {
        margin-top: 30px;
        width: 410px;
        align-items: center;
    }

    #seccionProductos {
        max-width: 410px;
    }

    #seccionNuevos {
        max-width: 410px;
    }


    /* *******************************  */

    /* FOOTER */

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #logoDragonFooter {
        width: 200px;
    }

    #linksFooter{
        display: none;
    }

    #contenedorLinksFooter {
        display: block;
    }

    .c3 {
        display: none;
    }

    .c4{
        display: none;
    }

    #redesFooter {
        position: relative;
        left: 1px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    /* *******************************  */
}



@media (max-width:376px) {

    /* NAVBAR */
   
    nav.inActive #logoDragonNavLink {
        margin-left: 110px;
    }

    /* ****************** */

    /* HEADER-BUSCADOR */

    #contenedorLogo {
        grid-template-rows: 180px 100px;
        grid-template-columns: 370px;   
    }

    #logoDragonHeader {
        display: none;
    }

    .contenedorBusqueda {
        width: 360px;
        
    }

    .contenedorBusqueda input {
        width: 310px;
    }

    /* ****************** */

    /* MAIN */

    main {
        width: 100%;
        margin-bottom: 100px;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        gap: 0px 30px;
    }

    #seccionAcordeonPublicidad {
        align-items: center;
        margin: 0px;
    }

    #accordionCategorias {
        width: 360px;
        height: 600px;
    }

    /* SLIDER PRODUCTOS DESTACADOS */

    .contenedorSliders {
        margin-top: 30px;
        width: 300px;
        align-items: center;
    }

    #seccionProductos {
        max-width: 300px;
    }

    #seccionNuevos {
        max-width: 300px;
    }

    .headerSlider {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .headerSlider h2{
        text-wrap: wrap;
        display: block;
        width: 211px;
    }
 
    .botonSlider {
        font-size: 40px;
        margin: 0 5px;
        cursor: pointer;
        color: white;
        width: 30px;
        height: 30px;
        display: inline-block;
        line-height: 19px;
        text-align: center;
        border-radius: 3px;
    }
    
    .tarjeta {
        min-width: 300px;
        height: 300px;
        position: relative;
        margin-right: 10px;
        left: 0;
        transition: 0.5s;
        background-color: white;
        border-radius: 20px;
    }
    
    .tarjeta-img-top img {
        width: 200px;
    }
    
    .tarjeta-img-top {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .tarjeta-text {
        font-size: 1.3em;
        text-align: end;
    
    }
    
    
    .botonFavoritos,
    .botonCarritoAñadir {
        border: 0px;
        padding: 0px;
        background-color: white;
        width: 24px;
        height: 24px;
        overflow: hidden;
    }
    
    .logoCartCardActive {
        display: none;
    }
    
    .logoFavCardActive {
        display: none;
    }
    
    .contenedorBotonesCards {
        display: flex;
        gap: 0px 25px;
    }
    
    .cardPrice {
        max-width: 300px;
        display: flex;
        gap: 100px;
        align-items: center;
    }

    /* *******************************  */

    /* FOOTER */

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #logoDragonFooter {
        width: 200px;
    }

    #linksFooter{
        display: none;
    }

    #contenedorLinksFooter {
        display: block;
    }

    .c3 {
        display: none;
    }

    .c4{
        display: none;
    }

    #redesFooter {
        position: relative;
        left: 1px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    /* *******************************  */
}



@media (max-width:376px) {

    /* NAVBAR */
    nav.inActive #logoDragonNavLink {
        margin-left: 100px;
    }

    /* ****************** */

    /* HEADER-BUSCADOR */

    #contenedorLogo {
        grid-template-rows: 180px 100px;
        grid-template-columns: 320px;   
    }

    #contenedorLogo h1{
        margin-left: 20px;
    }

    .contenedorBusqueda {
        width: 310px;
        margin-left: 5px;
    }
    .contenedorBusqueda input {
        width: 250px;
    }


    /* ****************** */

    /* MAIN */

    #accordionCategorias {
        width: 300px;
        height: 600px;
    }

    /* FOOTER */

    #redesFooter {
        width: 320px;

    }
    /* *******************************  */
}