:root{
    --bgColor2: white;
    --bgColor : rgb(33,37,41);
    --primario: rgb(79, 36, 164);
    --secundario: #bd9bff;
    --terciario: #9333ea;
}

*{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: var(--bgColor);
}
 

/* NAVBAR */

nav{
    display: grid;
    grid-template-columns: 150px 75vw 310px;
    grid-template-rows: 100px;
    position: sticky;
    align-items: center;
    background-color: var(--primario);
    width: 100vw;
    height: 100px;
}

#navParteIzquierda{
    display: flex;
    align-items: center;
    width: 260px;
}   


#navParteIzquierda a{
    text-decoration: none;
    color: white;
    padding: 10px;
    grid-column-start: 2;
    grid-column-end: 3;
}


.logoDragonNav{
    width: 150px;
}

#navParteDerecha{
    display: flex;
    align-items: center;
    
}

.favCart{
    width: 25px;
    margin-right: 25px;
}

.contenedorFavCart{
    position: relative;
}

.contadorFavCart{
    background-color: var(--secundario);
    width: 15px;
    height: 16px;
    font-size: 12px;
    color: white;
    position: absolute;
    right: 20px;
    top: -8px;
    border-radius: 50%;
    text-align: center;
}


#botonLogIn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    height: 50px;
    font-size: 13px;
    background-color: var(--primario);
    border-radius: 50px;
    border: 2px solid var(--secundario);
}

#botonLogIn img{
    width: 30px;
}

#logoDragonHeader{
    width: 400px;
    filter: drop-shadow(10px 10px 2px var(--secundario));
}


#contenedorLogo{
    display: grid;
    grid-template-rows: 400px;
    grid-template-columns: 400px 450px;
    column-gap: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

#redesSociales{

    text-align: center;
}

#redesSociales i{
    color: var(--primario);
}

#barraBusqueda{
    width: 250px;
    padding: 12px;
    border-radius: 50px;
    border: 2px solid var(--secundario);
}

#botonBusqueda{
    position: absolute;
    right: 630px;
    top: 212.5px; 
    padding: 10px;
}

.botones{
    color: white;
    font-size: 1.2em;  
    padding: 8px;
    width: 150px;
    background-color: var(--primario);
    border-radius: 50px;
    border: 2px solid var(--secundario);
}

#logoDragonModal{
    width: 100px;
}

#formLogin{
    display: grid;
    justify-content: center;
    grid-template-rows: 20px 35px 20px 35px;
    grid-row-gap: 15px;
}

#formLogin label{
    display: flex;
    align-items: center;
}

#formLogin input{
    width: 250px;
}

#linksModal{
    margin-top: 15px;
    text-align: center;

}

#linksModal a{
    color: var(--secundario);
    padding: 20px;
}


#linksModal a:hover{
    color: var(--terciario);
}


#formRegister{

    display: flex;
    flex-wrap: wrap;
    gap: 15px 80px;
    margin-bottom: 20px;
}

.campoFormRegister{
    display: flex;
    flex-direction: column;

}

#headerColumn2 h1{
    color: white;
    margin-bottom: 30px;
}

#collapseIcon{
    
    width: 30px;
  
}

#collapseButton{

    background-color: var(--primario);
    border: 0px;
    display: none;
}

/* *******************************  */

/* MAIN */

main{
    height: 1035px;
    display: flex;
    align-content: flex-start;
    gap: 100px;
    margin-top: 150px;
}

#seccionProductos{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 320px 320px; 
    gap: 20px 20px;
}

#accordionCategorias{
    width: 300px; 
    height: 700px;
}
 

.accordion-item button{
    background-color: var(--primario);
    color: white;
}

.accordion-item{
    background-color: var(--primario);
    
}


.listasCategorias{
    list-style-type:none;
}

.listasCategorias a{
    color: white;
    text-decoration: none;
}

.card{
    width: 300px;
}

.card-img-top{
    align-self: center;
    width: 200px;
}

.card-text{
    font-size: 1.3em;
    text-align: end;
    margin-right: 100px;
}

.logoFavCards{
    width: 20px;
}

.cardPrice{
    display: flex;
    gap: 0px 20px;

}

/* *******************************  */

/* FOOTER */

footer{
    background-color: var(--primario);
    display: flex;
    align-items: center;
    align-content: flex-start;
    gap: 0px 500px;
    height: 350px;    
}

#logoDragonFooter{
    width: 300px;
    
}

#contenedorLinksFooter{
  
    display: grid;
    grid-template-columns: 150px 150px 300px;
    grid-template-rows: 300px 50px;
    align-items: center;
    justify-content: center;
    color: white;

}


.c3{
    text-align: center;
}

.c4{
    text-align: center;
    grid-column: 1/4;
}




#contenedorLinksFooter p{
    font-size: 15px;
    color: white;
    text-align: center;
    grid-column: 1/3;
}

#linksFooter{
    list-style-type: none;
    
}

#linksFooter a{
    text-decoration: none;
    color: white;
}

#linksFooter a:hover{
    color: var(--secundario);
}

#redesFooter{
    width: 350px;
    display: grid;
    list-style-type: none;
    grid-template-rows: auto auto auto auto;
    gap: 5px 0px;
}


#redesFooter li,a{
    color: white;
}


#redesFooter a:hover{
    color: var(--secundario);
}

#dataFiscalQR{
    width: 150px;
}





/* ************* */

@media (max-width:426px) {
     
    
    nav{

        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 400px;
    }


    #contenedorLogo img,h1{
        display: none;
    }

    #contenedorLogo{
        display: block;
    }

    

    /* NAV VISIBLE */

    .logoDragonNav{
        width: 100px;
    }


    #collapseButton{
        display: block;
        position: absolute;
        left: 10px;
        top: 30px;
    }    

    .favCart{
        width: 25px;
    }


    #favoritos{
        position: absolute;
        right: 37px;
        top: 34px;
    }

    #carrito{

        position: absolute;
        right: -10px;
        top: 34px;
    }
    /* *************************** */

    /* COLLAPSE */

   

    #navParteIzquierda{
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        margin-bottom: 20px;
        
    }

    
    #contenedorBusqueda{
        display: flex;
        
    }

    #barraBusqueda{
        width: 150px;
        height: 40px;
    }

    #botonBusqueda{
        position: relative;
        top: 30px;
        right: 32px;
        width: 100px;
        font-size: 15px;
        padding: 0px;
        height: 40px;

    }


    /* ****************** */

}